* {
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #000;
  background-image: url(img/grid1.svg);
  color: aliceblue;
}

li {
  list-style-type: ;
  font-size: 20px;
  line-height: 40px;
}
.container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}
