* {
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #000;
  background-image: url(img/grid2.svg);
  color: aliceblue;
}

h1 {
  font-weight: bold;
}

li {
  list-style-type: decimal;
  font-size: 1.14em;
  line-height: 2.5em;
  padding: 10px;
}

.container {
  color: #cccccc;
  margin: 0 auto;
  width: 60vw;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 14px 23px 18px 3px rgba(100, 100, 100, 0.25);
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.079);
  backdrop-filter: blur(200px);
  filter: blur();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  padding: 20px;
}

footer {
  color: #f6f6f6;
  text-align: center;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
}

.footer-content {
  display: flex;
  align-items: center;

  justify-content: center;
}

.footer-content img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* MOBILE OPT */
@media (max-width: 900px) {
  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    color: #f6f6f6;
    margin: 0 auto;
    width: 60vw;
    margin-bottom: 15px;
    font-family: "Overpass", sans-serif;
    padding: 20px;
    box-shadow: 14px 23px 18px 3px rgba(100, 100, 100, 0.25);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.079);
    backdrop-filter: blur(200px);
    filter: blur();
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
  }

  p {
    font-size: 15px;
  }

  button {
    font-size: 10px;
  }
}
